@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
    .mask-linear {
        mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    }
    
    .custom-card-back {
        background-image: repeating-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1) 10px,
            transparent 10px,
            transparent 20px
        );
    }
}
